<div class="grid grid-cols-12 md:p-10">
  @for (link of configService.settings().customLinks; track link.title) {
    <a [href]="link.link" target="_blank" class="col-span-6 xl:col-span-2 lg:col-span-4 p-2 cursor-pointer text-center">
      <div>
        <p-panel [header]="link.title" styleClass="hover:bg-primary-contrast">
          <div class="h-10">
            <img [alt]="link.title" class="w-1/4 mx-auto my-2.5" [ngSrc]="link.icon" width="100" height="100" />
          </div>
        </p-panel>
      </div>
    </a>
  }
</div>
@if (configService.settings().defaultLinks) {
  <div class="grid grid-cols-12 md:p-10">
    @for (link of contactLinks(); track link.title) {
      <a
        [href]="link.link"
        target="_blank"
        class="col-span-6 xl:col-span-2 lg:col-span-4 p-2 cursor-pointer text-center"
      >
        <div>
          <p-panel [header]="link.title" styleClass="hover:bg-primary-contrast">
            <div class="h-10">
              <img [alt]="link.title" class="w-1/4 mx-auto my-2.5" [ngSrc]="link.logo" width="100" height="100" />
            </div>
          </p-panel>
        </div>
      </a>
    }
  </div>
}
