<p-toolbar [styleClass]="'justify-center sm:justify-start backdrop-blur-sm'"
           [style]="{ 'border-bottom-right-radius': '2.5rem',
           'border-bottom-left-radius': '2.5rem',
           'background-color': 'rgba(32, 32, 32, 0.3)' }">
  <ng-template pTemplate="start">
    <div class="flex gap-2 justify">
      @for (item of items; track item) {
        <p-button (click)="navigateTo(item.url)" label="{{ item.label }}"
                  class="block {{ $index > 3 ? 'hidden sm:flex' : 'flex' }}" text plain></p-button>
      }
    </div>
  </ng-template>
</p-toolbar>