# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
tmp
**.js
out-tsc

# Dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.angular
.direnv
.nx
.sass-cache
coverage
typings
core
repos

# System Files
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data

# Local env files
.env
.pre-commit-config.yaml
.wrangler
