@if (topicsList && !loading) {
  <ol class="relative border-s border-mauve">
    @for (topic of topicsList; track topic) {
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-surface0 rounded-full mt-1.5 -start-1.5 border border-maroon"></div>
        <time class="mb-1 text-sm font-normal leading-none text-text">{{ topic.created_at | datePipe }}</time>
        <h3 class="text-lg font-semibold text-maroon">{{ topic.title }}</h3>
        <p class="mb-4 text-base font-normal text-mauve">{{ topic.excerpt }}</p>
        <a href="{{ topic.link }}"
           class="inline-flex items-center px-4 py-2 text-sm font-medium text-text bg-surface0/50 backdrop-blur rounded-lg hover:bg-mauve hover:text-base">
          Read more
          <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 10">
            <path class="text-maroon focus:text-base" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </li>
    }
  </ol>
} @else {
  <div role="status" class="w-full animate-pulse">
    <span class="sr-only">Loading...</span>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
    <div class="h-2 bg-surface2/60 backdrop-blur rounded-full w-full mb-2.5"></div>
  </div>
}

