<ng-container *transloco="let t">
  <p-panel>
    @if (!appService.blogDataReady()) {
      <div class="h-[90vh] md:px-10 px-2.5">
        <ng-container *ngFor="let _ of [].constructor(8)">
          <div class="flex mb-4">
            <div>
              <p-skeleton width="100%" styleClass="mb-2"/>
            </div>
          </div>
          <p-skeleton width="100%" height="75px"/>
        </ng-container>
      </div>
    }
    <p-scroll-panel [style]="{ height: '90vh' }">
      <div class="grid grid-cols-12">
        <div class="col-span-12">
          <p-timeline [value]="appService.blogData()">
            <ng-template #opposite let-untypedTopic>
              <ng-container *ngIf="typedTopic(untypedTopic) as topic">
                <small class="text-surface-300">{{ topic.topicData.created_at | date }}</small>
              </ng-container>
            </ng-template>
            <ng-template #content let-untypedTopic>
              <ng-container *ngIf="typedTopic(untypedTopic) as topic">
                <div
                  tabindex="0"
                  (click)="openLinkInNewTab(topic.topicData.link)"
                  (keydown)="openLinkInNewTab(topic.topicData.link)"
                  [innerHTML]="topic.topicData.fancy_title | emojiPipe"
                  class="text-color cursor-pointer"
                ></div>
              </ng-container>
            </ng-template>
          </p-timeline>
        </div>
      </div>
    </p-scroll-panel>
  </p-panel>
</ng-container>
