<ng-container *transloco="let t">
  <span [pTooltip]="t('lang.tooltip')" class="font-medium block mb-5 primary" tooltipPosition="bottom">
    {{ t('lang.title') }}
  </span>
  <p-scroll-panel [style]="{ width: '300px', height: '70vh' }">
    <ul class="list-none flex-auto">
      @for (language of allLanguages(); track language) {
        <li
          [tabindex]="$index"
          (keydown.enter)="close(language)"
          (click)="close(language)"
          class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border"
        >
          <span class="font-medium">{{ language | langPipe }}</span>
        </li>
      }
    </ul>
  </p-scroll-panel>
</ng-container>
