<ng-container *transloco="let t">
  <span [pTooltip]="t('lang.tooltip')" class="primary mb-5 block font-medium" tooltipPosition="bottom">
    {{ t('lang.title') }}
  </span>
  <p-scroll-panel [style]="{ width: '300px', height: '70vh' }">
    <ul class="flex-auto list-none">
      @for (language of allLanguages(); track language) {
        <li
          [tabindex]="$index"
          (keydown.enter)="close(language)"
          (click)="close(language)"
          class="flex cursor-pointer items-center gap-2 px-2 py-3 rounded-border hover:bg-emphasis"
        >
          <span class="font-medium">{{ language | langPipe }}</span>
        </li>
      }
    </ul>
  </p-scroll-panel>
</ng-container>
