@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import "@fontsource/jetbrains-mono";
@import "@fontsource/fira-sans";
@import "@catppuccin/palette/css/catppuccin.css";

/* Work around https://github.com/tailwindlabs/tailwindcss/discussions/8679#discussioncomment-8686149 */
@layer components {
  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: var(--ctp-mocha-maroon);
  }

  .text-input {
    @apply autofill-text;
    @apply autofill:shadow-[inset_0_0_0px_1000px_var(--ctp-mocha-surface0)];
  }
}

/* Global CSS */
html {
  scrollbar-color: var(--ctp-mocha-maroon) var(--ctp-mocha-surface0);
}

body {
  @apply text-sm selection:bg-mauve selection:text-base;
  background-position: center;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

code,
pre,
tt,
kbd,
samp {
  font-style: normal;
  font-weight: 400;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  @apply text-sm selection:bg-mauve selection:text-base;
}

.bg-blur {
  background-image: url("https://static.zenrows.com/content/large_archived_version_of_g2_reviews_page_e9898ad3ce.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}