<div class="w-full">
  <img src="/garuda.png" alt="Garuda Logo" width="100" class="mx-auto mb-5" />
</div>
<div class="pt-5">
  <form class="max-w-md sm:mx-auto mx-10">
    <label for="search"
           class="mb-2 text-sm font-medium text-text sr-only bg-maroon">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-maroon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input type="search" id="search" name="name "
             class="block w-full p-4 ps-10 text-sm rounded-lg bg-surface0 focus:ring-maroon focus:border-maroon"
             placeholder="Start your {{ this.searchEngineData.prettyName }} search now..." required
             [(ngModel)]="searchTerm" />
      <button type="submit"
              class="absolute end-2.5 bottom-2.5 bg-surface1 text-maroon hover:text-base hover:bg-mauve focus:ring-4
                  focus:outline-none focus:ring-maroon font-medium rounded-lg text-sm px-4 py-2"
              (click)="navToSearchEngine()">
        Search
      </button>
    </div>
  </form>
</div>