<ng-container *transloco="let t">
  <div>
    <img
      priority
      [ngSrc]="configService.settings().logo ? configService.settings().logo : 'assets/garuda-purple.svg'"
      alt="Garuda Logo"
      width="150"
      height="150"
      class="grow mx-auto my-10"
    />
  </div>
  <div>
    <div class="mx-auto md:w-1/2 w-3/4">
      <input
        pInputText
        autofocus
        variant="outlined"
        [placeholder]="t('search.placeholder') + ' ' + searchEngine().prettyName"
        [(ngModel)]="searchTerm"
        (keydown.enter)="search()"
        [style]="{ height: '3rem' }"
        fluid
      />
    </div>
    <div class="mx-auto w-1/3 md:w-1/6 mt-2.5">
      <p-button
        [label]="t('search.search')"
        icon="pi pi-search"
        severity="secondary"
        (click)="search()"
        (keydown.enter)="search()"
        fluid
      />
    </div>
  </div>
</ng-container>
