<div class="sm:pt-24 pt-28 sm:mb-24 md:flex">
  <div class="md:w-3/4 mt-10">
    <app-search></app-search>
    @if (jokesEnabled || jokesEnabled === undefined) {
      <app-jokes></app-jokes>
    }
    <div class="smn:mt-16 ">
      <app-link-section></app-link-section>
    </div>
  </div>

  <div class="md:w-1/4 lg:w-1/6 flex-auto mx-14 pb-2.5 md:mx-10">
    <h2 class="font-bold text-lg text-center text-text mb-5">Latest news</h2>
    <app-news [amount]="amountForumPostsHome"></app-news>
  </div>
</div>