<ng-container *transloco="let t">
  <div class="mx-auto max-w-7xl px-2.5 md:px-10">
    <app-title [title]="t('settings.title')"></app-title>
    <p-panel [header]="t('settings.general')">
      <div class="mt-5 grid grid-cols-1 gap-5 text-color md:grid-cols-2">
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('defaultLinks', $event)"
            [(ngModel)]="defaultLinks"
            [binary]="true"
            id="default-links"
          />
          <label class="ml-2" for="default-links">{{ t('settings.defaultLinksLabel') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('showNews', $event)"
            [(ngModel)]="showNews"
            [binary]="true"
            id="show-news"
          />
          <label class="ml-2" for="blur-bg">{{ t('settings.showNews') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('jokesEnabled', $event)"
            [(ngModel)]="jokesEnabled"
            [binary]="true"
            id="jokes-enabled"
          />
          <label class="ml-2" for="jokes-enabled">{{ t('settings.jokesEnabledLabel') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('fitWallpaper', $event)"
            [(ngModel)]="fitWallpaper"
            [binary]="true"
            id="fit-wp"
          />
          <label class="ml-2" for="fit-wp">{{ t('settings.fitWallpaper') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('blurBackground', $event)"
            [(ngModel)]="blurBackground"
            [binary]="true"
            id="blur-bg"
          />
          <label class="ml-2" for="blur-bg">{{ t('settings.blurBackground') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('darkMode', $event)"
            [(ngModel)]="darkMode"
            [binary]="true"
            id="dark-mode"
          />
          <label class="ml-2" for="dark-mode">{{ t('settings.darkMode') }}</label>
        </div>
        <div class="ml-10">
          <p-checkbox
            (ngModelChange)="updateConfig('avatarEnabled', $event)"
            [(ngModel)]="avatarEnabled"
            [binary]="true"
            id="avatar-enabled"
          />
          <label class="ml-2" for="avatar-enabled">{{ t('settings.avatarEnabled') }}</label>
        </div>
      </div>

      <div class="mx-auto mt-10 w-3/4 md:ml-10 md:flex">
        <p-button
          (click)="downloadSettings()"
          [label]="t('settings.saveSettings')"
          icon="pi pi-download"
          styleClass="w-full"
        >
        </p-button>
        <p-fileupload
          (onSelect)="restoreSettings($event)"
          [chooseLabel]="t('settings.restoreSettings')"
          accept=".json"
          auto
          chooseIcon="pi pi-upload"
          maxFileSize="1000000"
          mode="basic"
          styleClass="block mt-2.5 md:mt-0 md:ml-2.5 w-full"
        >
        </p-fileupload>
        <p-button
          (click)="resetSettings()"
          [label]="t('settings.resetSettings')"
          icon="pi pi-refresh"
          styleClass="mt-2.5 md:mt-0 md:ml-5 w-full"
        >
        </p-button>
      </div>
    </p-panel>

    <p-panel [header]="t('settings.customize')" styleClass="mt-2.5">
      <div class="mt-5 grid grid-cols-1 gap-5 text-color md:grid-cols-2">
        <div class="flex flex-col gap-2">
          <label for="theme">{{ t('settings.themeLabel') }}</label>
          <p-select
            (ngModelChange)="updateConfig('activeTheme', $event)"
            [(ngModel)]="activeTheme"
            [options]="availableThemes"
            fluid
            id="theme"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="search-engine">{{ t('settings.language') }}</label>
          <p-select
            (ngModelChange)="updateConfig('language', $event)"
            [(ngModel)]="language"
            [options]="availableLanguages"
            fluid
            id="language"
            optionLabel="prettyName"
            optionValue="name"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="search-engine">{{ t('settings.searchEngineLabel') }}</label>
          <p-select
            (ngModelChange)="updateConfig('activeSearchEngine', $event)"
            [(ngModel)]="activeSearchEngine"
            [options]="searchEngineMappings"
            fluid
            id="search-engine"
            optionLabel="prettyName"
            optionValue="name"
          />
        </div>

        @if (configService.settings().activeSearchEngine === 'custom') {
          <div class="flex flex-col gap-2">
            <label for="custom-search">{{ t('settings.searchEngineUrl') }}</label>
            <input
              pInputText
              id="custom-search"
              (ngModelChange)="updateConfig('searchEngineUrl', $event)"
              [(ngModel)]="searchEngineUrl"
            />
          </div>
          <div class="flex flex-col gap-2">
            <label for="custom-search-name">{{ t('settings.searchEngineName') }}</label>
            <input
              pInputText
              id="custom-search-name"
              (ngModelChange)="updateConfig('searchEngineName', $event)"
              [(ngModel)]="searchEngineName"
            />
          </div>
        }

        @if (configService.settings().jokesEnabled) {
          <div class="flex flex-col gap-2">
            <label for="active-joke">{{ t('settings.activeJoke') }}</label>
            <p-select
              (ngModelChange)="updateConfig('activeJoke', $event)"
              [(ngModel)]="activeJoke"
              [options]="jokeSources"
              fluid
              id="active-joke"
              optionLabel="prettyName"
              optionValue="name"
            />
          </div>
        }

        <div class="flex flex-col gap-2">
          <label for="wallpaper">{{ t('settings.wallpaperLabel') }}</label>
          <p-select
            (ngModelChange)="updateConfig('wallpaper', $event)"
            [(ngModel)]="wallpaper"
            [options]="wallpapers"
            fluid
            id="wallpaper"
            optionLabel="name"
            optionValue="url"
          />
        </div>

        @if (configService.settings().wallpaper === 'custom') {
          <div class="flex flex-col gap-2">
            <label for="custom-wallpaper">{{ t('settings.wallpaperCustomLabel') }}</label>
            <input
              pInputText
              id="custom-wallpaper"
              (ngModelChange)="updateConfig('wallpaperUrl', $event)"
              [(ngModel)]="wallpaperUrl"
            />
          </div>
        }

        <div class="flex flex-col gap-2">
          <label for="logo">{{ t('settings.logoLabel') }}</label>
          <p-select
            (ngModelChange)="updateConfig('logo', $event)"
            [(ngModel)]="logo"
            [options]="logos"
            fluid
            id="logo"
            optionLabel="name"
            optionValue="url"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="title">{{ t('settings.customTitle') }}</label>
          <input
            (ngModelChange)="updateConfig('customTitle', $event)"
            [(ngModel)]="customTitle"
            id="title"
            pInputText
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="name">{{ t('settings.name') }}</label>
          <input (ngModelChange)="updateConfig('username', $event)" [(ngModel)]="username" id="name" pInputText />
        </div>

        <div class="flex flex-col gap-2">
          <label for="welcome">{{ t('settings.welcomeText') }}</label>
          <input
            (ngModelChange)="updateConfig('welcomeText', $event)"
            [(ngModel)]="welcomeText"
            id="welcome"
            pInputText
          />
        </div>

        @if (configService.settings().avatarEnabled) {
          <div class="flex flex-col gap-2">
            <label for="avatar-url">{{ t('settings.avatarUrl') }}</label>
            <input
              pInputText
              id="avatar-url"
              (ngModelChange)="updateConfig('avatarUrl', $event)"
              [(ngModel)]="avatarUrl"
            />
          </div>
        }

        @if (configService.settings().logo === 'custom') {
          <div class="flex flex-col gap-2">
            <label for="custom-logo">{{ t('settings.customLogo') }}</label>
            <input
              pInputText
              id="custom-logo"
              (ngModelChange)="updateConfig('logoUrl', $event)"
              [(ngModel)]="logoUrl"
            />
          </div>
        }
      </div>
    </p-panel>

    <p-panel [header]="t('settings.customLinks')" styleClass="mt-2.5">
      <app-links-editor></app-links-editor>
    </p-panel>

    <p-panel [header]="t('settings.customMenu')" styleClass="mt-2.5">
      <app-menu-editor></app-menu-editor>
    </p-panel>
  </div>

  <p-confirmDialog />
</ng-container>
